/* Universal Selector */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
    line-height: 1.5rem;
    margin: 0;
    text-decoration: none;
}

/* Mobile Screens */
.container {
        margin-left: 15px;
        margin-right: 15px;
    }

#desktop-nav,
#article-subheader { /* hide elsewhere */
        display: none;
    }   

/* Colours */
.purple {
    color: #9547ff;
}

.grey {
    color: #757575;
}

.white {
    color: white;
}

.black {
    color: black;
} 

/* Navigation */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

.nav-links {
    list-style: none;
    padding-left: 15px;
}

.logo {
    margin-right: auto;
}

/* Components */
button {
    padding: 0.5em 2em;
    background-color: rgb(0, 0, 0);
    border-color:rgb(255, 255, 255);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta-small {
    margin-left: 2em;
    padding: 0.5em 2em;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    color: white;
    text-decoration: none;
}

.cta-small:hover,
button:hover {
    background-color: rgb(29, 29, 29);
    color: white;

}

.centre {
    display: flex;
    justify-content: center;
    margin: auto;
}

.line-break {
    height: 1px;
    background: rgb(255, 255, 255);
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.line-break-small {
    height: 1px;
    border: 0.5px solid #757575;
    width: 320px;
    margin-bottom: 2rem;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
}

.headshot {
    margin-bottom: 3rem;
}

.about div {
    margin-bottom: 1.5rem;
}

.about li {
    margin-bottom: 1.5rem;
}

.margin-top {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.author {
    margin-bottom: 3rem;
}

.more {
    color: #9547ff;
    font-family: 'Merriweather', serif;
    font-size: 1.25rem; 
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.tags {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
}

.post-tag {
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 0.5em 1em;
    border: 1px solid white;
    color: white;
    width: max-content;
    list-style-type: none;
}

/* Typography */
h1 {
    font-size: 2.5rem; 
    line-height: 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2rem; 
    line-height: 2.5rem;
}

h3 {
    font-size: 2rem; 
    line-height: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.25rem; 
    line-height: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

article h4 {
    font-size: 1.25rem; 
    line-height: 2rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.125rem; 
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

article h5 {
    font-size: 1.125rem; 
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

h6 {
    font-size: 0.75rem; 
    line-height: 1rem;
    font-weight: 900;
}

#sidebar h6 {
    margin-bottom: 1rem; 
}

.small {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.small-extra {
    font-size: 0.75rem;
    line-height: 1rem;
}

.tiny {
    font-size: 0.6875rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
}

.serif {
    font-family: 'Merriweather', serif;
}

.bio {
    margin-bottom: 1rem;
}

.bio p {
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: 1rem;
}

/* Tablet Screens */
@media (min-width: 768px) {
    .container {
        gap: 15px;
        margin-left: 15px;
        margin-right: 15px;
        max-width: 768px;
        margin: auto;
    }

    #desktop-nav,
    #article-subheader { /* show on tablet screens */
        display: block;
    }  

    .ft {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paragraph {
        width: 75%;
    }

    /* Typography */
    h1 {
        font-size: 3.5rem; 
        line-height: 4rem;
    }

    h2 {
        font-size: 2.5rem; 
        line-height: 3rem;
    }

    h3 {
        font-size: 2rem; 
        line-height: 2.5rem;
    }

    h4 {
        font-size: 1.5rem; 
        line-height: 2rem;
        margin-bottom: 2rem;
        font-weight: 500;
    }

    article h4 {
        font-size: 1.5rem; 
        line-height: 2rem;
        margin-bottom: 0.5rem;
    }

    h5 {
        font-size: 1.125rem; 
        line-height: 1.5rem;
    }

    h6 {
        font-size: 0.75rem; 
        line-height: 1rem;
    }

    .nav-links {
        text-align: center;
    }
    
    .nav-links li {
        display: inline-block;
        padding: 0px 1.5rem;
    }

    .tags {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0px;
    }
    
    .post-tag {
        margin-top: 2rem;
        margin-right: 1rem;
        padding: 0.5em 1em;
        border: 1px solid white;
        color: white;
    }
}

/* Desktop Screens */
@media (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        gap: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin: auto;
        max-width: 1140px;
    }
    
    nav {
        grid-column: col-start / span 12;
    }

    .image {
        display: block;
        width: 100%;
    }

    #desktop-nav,
    #article-subheader { /* show on desktop screens */
        display: block;
    }  

    /* Desktop Grid */
    main {
        grid-column: col-start 1 / span 12;
        grid-row: 2;
    }

    #sidebar {
        grid-column: col-start 1 / span 2;
        grid-row: 3/6;
        width: 100%;
    }

    #article1 {
        grid-column: col-start 4 / span 6;
        grid-row: 3/4;
    }

    #article2 {
        grid-column: col-start 4 / span 6;
        grid-row: 4/5;
    }

    #article3 {
        grid-column: col-start 4 / span 6;
        grid-row: 5/6;
    }

    footer {
        grid-column: col-start 1 / span 12;
        grid-row: 6/7;
    }    

    .post {
        margin: auto;
        max-width: 700px;
    }

    a:hover {
        color: #9547ff;
    }
}